    <div id="reel" class="container">
      
        
    <div class="video"> <iframe width="853" height="480" src="http://www.youtube.com/embed/5e4Z7_g68so?rel=0" frameborder="0" allowfullscreen></iframe> </div>

    </div>
    
    <div id="videos" class="container hidden">
      
        
    <div class="video"> <iframe width="450" height="253" src="http://www.youtube.com/embed/ozQTaxN6YMY?rel=0" frameborder="0" allowfullscreen></iframe>   </div>
    <div class="video"> <iframe width="450" height="253" src="http://www.youtube.com/embed/HCyAHpS6uoc?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video"><iframe width="450" height="253" src="http://www.youtube.com/embed/xbtj1Ui2gfk?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video"><iframe width="450" height="253" src="http://www.youtube.com/embed/y9QqcxtEg-4?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
     
   
    </div>
	
	<div id="projects" class="container hidden">
	<h1> Projects</h1>
	<ul>
	<li>
	<a target="_blank" href="http://www.kickstarter.com/projects/microfacturing/lens-focus-shifter-lens-mounted-follow-focus"> Lens Shifter</a> 
	</li>
	</ul>	
	</div>